/*
	Axiom by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* FA Icons */

	.pennant {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Nav */

	.dropotron.level-0 {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
		margin-top: -0.40em;
	}

		.dropotron.level-0:before {
			border-left: solid 0.8em #4A514F;
			border-right: solid 0.8em #4A514F;
		}

/* Featured */

	#featured .image img, ul.icons li a {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

/* Slidertron */

	#slider .previous-button, #slider .next-button {
		background: #FFF;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}