@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700");
@import url("font-awesome.min.css");

/*
	Axiom by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 1200px;
	}

	.container.\37 5\25 {
		width: 900px;
	}

	.container.\35 0\25 {
		width: 600px;
	}

	.container.\32 5\25 {
		width: 300px;
	}

	.container {
		width: 1200px;
	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90%;
		}

	}

	@media screen and (max-width: 1080px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 960px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1080px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrow\29, .\39 u\24\28narrow\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrow\29, .\38 u\24\28narrow\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrow\29, .\37 u\24\28narrow\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrow\29, .\36 u\24\28narrow\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrow\29, .\35 u\24\28narrow\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrow\29, .\34 u\24\28narrow\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrow\29, .\33 u\24\28narrow\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrow\29, .\32 u\24\28narrow\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrow\29, .\31 u\24\28narrow\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrow\29 + *,
		.\31 1u\24\28narrow\29 + *,
		.\31 0u\24\28narrow\29 + *,
		.\39 u\24\28narrow\29 + *,
		.\38 u\24\28narrow\29 + *,
		.\37 u\24\28narrow\29 + *,
		.\36 u\24\28narrow\29 + *,
		.\35 u\24\28narrow\29 + *,
		.\34 u\24\28narrow\29 + *,
		.\33 u\24\28narrow\29 + *,
		.\32 u\24\28narrow\29 + *,
		.\31 u\24\28narrow\29 + * {
			clear: left;
		}

		.\-11u\28narrow\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrow\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrow\29 {
			margin-left: 75%;
		}

		.\-8u\28narrow\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrow\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrow\29 {
			margin-left: 50%;
		}

		.\-5u\28narrow\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrow\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrow\29 {
			margin-left: 25%;
		}

		.\-2u\28narrow\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrow\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 960px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrower\29, .\39 u\24\28narrower\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrower\29, .\38 u\24\28narrower\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrower\29, .\37 u\24\28narrower\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrower\29, .\36 u\24\28narrower\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrower\29, .\35 u\24\28narrower\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrower\29, .\34 u\24\28narrower\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrower\29, .\33 u\24\28narrower\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrower\29, .\32 u\24\28narrower\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrower\29, .\31 u\24\28narrower\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrower\29 + *,
		.\31 1u\24\28narrower\29 + *,
		.\31 0u\24\28narrower\29 + *,
		.\39 u\24\28narrower\29 + *,
		.\38 u\24\28narrower\29 + *,
		.\37 u\24\28narrower\29 + *,
		.\36 u\24\28narrower\29 + *,
		.\35 u\24\28narrower\29 + *,
		.\34 u\24\28narrower\29 + *,
		.\33 u\24\28narrower\29 + *,
		.\32 u\24\28narrower\29 + *,
		.\31 u\24\28narrower\29 + * {
			clear: left;
		}

		.\-11u\28narrower\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrower\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrower\29 {
			margin-left: 75%;
		}

		.\-8u\28narrower\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrower\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrower\29 {
			margin-left: 50%;
		}

		.\-5u\28narrower\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrower\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrower\29 {
			margin-left: 25%;
		}

		.\-2u\28narrower\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrower\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 15px 0 0 15px;
		}

		.row {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.uniform.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: #2D3130;
		font-family: 'PT Sans', sans-serif;
		font-size: 10pt;
		line-height: 2em;
		color: #7a8186;
	}

	input, textarea, select {
		font-family: 'PT Sans', sans-serif;
		font-size: 10pt;
		line-height: 2em;
		color: #7a8186;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
		font-weight: bold;
		color: #3E4442;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	strong, b {
		font-weight: bold;
		color: #3E4442;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #80B763;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1em;
	}

		header h2 {
			display: block;
			margin: 0em;
			padding: 0em;
			letter-spacing: 0.05em;
			font-size: 1.6em;
			font-weight: 700;
		}

		header .byline {
			display: block;
			margin: 0.5em 0 0 0;
			padding: 0 0 0.5em 0;
			font-weight: 400;
		}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

/* Images */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.full {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Lists */

	ul.default {
		list-style: none;
		margin: 0;
		padding: 2em 0em 0em 0em;
	}

		ul.default li {
			display: block;
			padding: 0.60em 0em;
			border-top: 1px solid #dcdcdc;
		}

			ul.default li:first-child {
				padding-top: 0;
				border-top: none;
			}

		ul.default a {
			text-decoration: none;
			color: #888787;
		}

			ul.default a:hover {
				text-decoration: underline;
			}

	ul.icons {
		float: right;
		cursor: default;
		text-align: center;
	}

		ul.icons li {
			display: inline-block;
			padding: 0px 0.60em;
		}

			ul.icons li span {
				display: none;
			}

			ul.icons li a {
				-moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
				-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
				-ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
				display: inline-block;
				color: #fff;
				width: 40px;
				height: 40px;
				border: 1px solid #5D6261;
				border-radius: 50%;
				text-align: center;
			}

				ul.icons li a:before {
					display: inline-block;
					line-height: 40px;
					font-size: 1.2em;
					color: #fff;
				}

				ul.icons li a:hover {
					background: rgba(255, 255, 255, 0.05);
					border-color: #6b7982;
				}

	ul.info li {
		padding: 2em 0 1.5em 0;
		border-top: 1px solid #dcdcdc;
	}

		ul.info li:first-child {
			padding-top: 0;
			border-top: none;
		}

		ul.info li:last-child {
			padding-bottom: 0;
		}

	ul.info h3 {
		display: inline-block;
		padding-bottom: 0.50em;
		letter-spacing: 1px;
		font-size: 1.4em;
	}

	ul.info a {
		text-decoration: none;
		color: #7a8186;
	}

		ul.info a:hover {
			text-decoration: underline;
		}

	ul.menu {
		cursor: default;
	}

		ul.menu li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px #ddd;
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 0.5em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Forms */

	form .actions {
		padding-top: 0;
	}

	form label {
		display: block;
	}

	form input.text, form select, form textarea {
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		-webkit-appearance: none;
		display: block;
		width: 100%;
		padding: 1em;
		background: none;
		border: solid 1px #e8e8e8;
		outline: none;
		color: #3E4442;
	}

		form input.text:focus, form select:focus, form textarea:focus {
			border-color: #80B763;
		}

	form input, form select {
		line-height: 1em;
	}

	form textarea {
		min-height: 14em;
	}

	form .formerize-placeholder, form ::-webkit-input-placeholder, form :-moz-placeholder, form ::-moz-placeholder, form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: bold;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				background: #444;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Buttons */

	.button {
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		position: relative;
		display: inline-block;
		padding: 0.5em 1.5em 0.5em 1.5em;
		letter-spacing: 0.10em;
		text-decoration: none;
		font-size: 1.2em;
		background: #80B763;
		color: #FFF;
		border: none;
		cursor: pointer;
		letter-spacing: 2px;
		font-weight: 700;
	}

	input.button {
		padding: 0.75em 1.5em 0.75em 1.5em;
	}

	.button:hover {
		background-color: #8FC672;
	}

/* FA Icons */

	.pennant {
		display: inline-block;
		width: 3.6em;
		height: 3.6em;
		margin-bottom: 2em;
		background: #80B763;
		border-radius: 50%;
		line-height: 3.6em;
		text-align: center;
		font-size: 1.2em;
		color: #FFF;
	}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Header */

	#header {
		position: relative;
	}

/* Logo */

	#logo {
		position: relative;
		padding: 3em 0em 5em 0em;
		letter-spacing: 3px;
		text-align: center;
		color: #FFF;
		margin-top: 5em;
	}

		#logo div {
			position: relative;
			display: inline-block;
			padding: 0 6em 0 6em;
			box-shadow: 0px 1px 0px #4A514F, 0px -1px 0px #4A514F;
			height: 10px;
		}

		#logo h1 {
			position: relative;
			display: inline;
			padding: 0em 0.50em;
			top: -0.40em;
			text-transform: uppercase;
			font-size: 3em;
			font-weight: 700;
			background: #2D3130;
			color: #FFF;
		}

		#logo span {
			display: block;
			margin-top: -0.25em;
			letter-spacing: 0.07em;
			font-size: 1.1em;
			color: #888;
			color: rgba(255, 255, 255, 0.5);
		}

	#nav {
		position: relative;
		height: 6em;
		background: #4A514F;
		cursor: default;
	}

		#nav > ul {
			text-align: center;
		}

			#nav > ul > li {
				display: inline-block;
			}

				#nav > ul > li > a, #nav > ul > li > span {
					-moz-transition: background-color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out;
					display: inline-block;
					margin: 0;
					padding: 1.5em 1.6em 1.7em 1.6em;
					letter-spacing: 0.06em;
					text-decoration: none;
					font-weight: 700;
					font-size: 1.2em;
					outline: 0;
					color: #ccc;
					color: rgba(255, 255, 255, 0.75);
					border-top: 5px solid transparent;
				}

		#nav li:hover a, #nav li:hover span {
			background: rgba(255, 255, 255, 0.05);
		}

		#nav li.active span {
			background: rgba(255, 255, 255, 0.05);
		}

		#nav li.current_page_item a {
			background: #3E4442;
			border-top-color: #80B763;
			color: #fff;
		}

		#nav > ul > li > ul {
			display: none;
		}

	.dropotron {
		top: 0;
		text-align: left;
		min-width: 15em;
		background: #80B763;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
	}

		.dropotron a, .dropotron span {
			display: block;
			padding: 1em 1.70em;
			border-top: solid 1px;
			border-color: rgba(255, 255, 255, 0.15);
			border-bottom: 0;
			letter-spacing: 0.10em;
			font-size: 1em;
			text-decoration: none;
			color: #eee;
			color: rgba(255, 255, 255, 0.9);
		}

		.dropotron a:hover {
			color: #FFF;
		}

		.dropotron li:first-child > a, .dropotron li:first-child > span {
			border-top: 0;
		}

		.dropotron li.active > a, .dropotron li.active > span {
			color: #FFF;
		}

		.dropotron.level-0 {
			margin-top: -3px;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				top: -1.2em;
				left: 50%;
				margin-left: -0.65em;
				width: 1.3em;
				height: 1.3em;
				border-bottom: solid 0.8em #80B763;
				border-left: solid 0.8em transparent;
				border-right: solid 0.8em transparent;
			}

/* Banner */

	#banner {
		position: relative;
		padding: 8em 5em;
		background: #3E4442;
		text-align: center;
		color: #fff;
	}

		#banner header {
			text-shadow: 0 4px 0 #2f363c;
		}

			#banner header h2 {
				margin: 0;
				padding: 0;
				letter-spacing: 0.05em;
				font-size: 4em;
				color: #FFF;
			}

			#banner header .byline {
				letter-spacing: 0.05em;
				font-size: 2.4em;
				padding-top: 0.25em;
				line-height: 1.25em;
			}

		#banner footer {
			box-shadow: 0px 1px 0px #4A514F, 0px -1px 0px #4A514F;
			height: 8px;
			margin: 4em auto 2em auto;
			width: 50%;
			min-width: 40em;
		}

		#banner .button {
			position: relative;
			top: -1.1em;
			font-size: 1.6em;
			box-shadow: 0 4px 0 0 #2f363c;
			padding: 0.75em 3em 0.75em 2em;
		}

			#banner .button:before {
				position: absolute;
				right: 0.75em;
			}

/* Main */

	#main {
		position: relative;
		padding: 5em 5em;
		background: #fff;
	}

	.homepage #main {
		padding: 0em !important;
	}

	#main .button {
		margin-top: 1em;
	}

/* Content */

	#content header {
		margin-bottom: 2.5em;
	}

		#content header h2 {
			font-size: 2.5em;
			color: #3E4442;
		}

		#content header .byline {
			letter-spacing: 0.05em;
			font-size: 1.2em;
		}

	#content h3 {
		display: block;
		padding: 1.5em 0em 1em 0em;
		letter-spacing: 0.05em;
		line-height: 1.5em;
		font-size: 1.4em;
		color: #3E4442;
	}

	.contact #content header {
		margin-bottom: 2.5em;
	}

/* Newsletter */

	#newsletter {
		position: relative;
		background: #3E4442;
		padding: 4em 5em;
		text-align: center;
	}

		#newsletter header {
			margin-bottom: 2em;
			color: #FFF;
		}

			#newsletter header h2 {
				margin: 0;
				padding: 0;
				letter-spacing: 0.15em;
				font-size: 1.8em;
				color: #FFF;
			}

			#newsletter header .byline {
				letter-spacing: 0.20em;
				font-size: 1.4em;
				font-weight: 400;
			}

		#newsletter span {
			letter-spacing: 1px;
			font-weight: 700;
			font-size: 1.3em;
			color: #FFF;
		}

	#subscribe {
		position: relative;
		width: 50%;
		border: 2px solid #5D6261;
		margin: 0em auto;
	}

		#subscribe .text {
			-webkit-appearance: none;
			display: block;
			height: 50px;
			margin: 0;
			padding: 0em 1em;
			background: none;
			width: 100%;
			border: none;
			letter-spacing: 0.05em;
			line-height: 50px;
			font-size: 1em;
			color: #fff;
			outline: none;
		}

		#subscribe .button {
			position: absolute;
			right: 0;
			top: 0;
			height: 44px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 44px;
			margin: 3px;
		}

		#subscribe .formerize-placeholder, #subscribe ::-webkit-input-placeholder, #subscribe :-moz-placeholder, #subscribe ::-moz-placeholder, #subscribe :-ms-input-placeholder {
			color: #ccc !important;
		}

/* Footer */

	#footer {
		position: relative;
		padding: 2em 5em 1.5em 5em;
		background: #4A514F;
		color: #FFF;
		margin-bottom: 5em;
	}

		#footer .copyright {
			display: inline-block;
			padding-top: 0.60em;
			letter-spacing: 0.05em;
			color: #999;
			color: rgba(255, 255, 255, 0.5);
		}

/* Featured */

	#featured {
		position: relative;
		padding: 5em 5em;
	}

		#featured h3 {
			padding: 0.80em 0em 0.50em 0em;
			letter-spacing: 0.10em;
			font-size: 2em;
			color: #80B763;
		}

		#featured .image {
			float: left;
			margin-right: 3em;
		}

			#featured .image img {
				background-color: #c3c6c5;
				border-radius: 50%;
			}

		#featured .link2 {
			display: inline-block;
			letter-spacing: 0.10em;
			text-decoration: none;
			font-size: 1.3em;
			font-weight: 700;
			color: #2b475d;
		}

			#featured .link2 .icon {
				margin-left: 0.6em;
				font-size: 0.7em;
				color: #80B763;
			}

/* Intro */

	#intro {
		position: relative;
		padding: 6em 0em;
		background: url(../../assets/img/pic05.jpg) no-repeat center top;
		background-size: cover;
		text-align: center;
		color: #FFF;
	}

		#intro .heading {
			position: relative;
			width: 80%;
			margin: 0em auto;
			letter-spacing: 0.10em;
			line-height: 2em;
			z-index: 2;
		}

			#intro .heading span {
				display: inline-block;
				padding: 0.30em 0.30em 0.50em 0.30em !important;
				text-align: center;
			}

		#intro .txt1 {
			background: #3E4442;
			font-size: 3.2em;
			font-weight: 700;
		}

		#intro .txt2 {
			background: #80B763;
			font-size: 2.2em;
		}


	.section-label {
		position: relative;
		padding: 6em 0em;
		background: url(../../assets/img/pic05.jpg) no-repeat center top;
		background-size: cover;
		text-align: center;
		color: #FFF;
	}

		.section-label .heading {
			position: relative;
			width: 80%;
			margin: 0em auto;
			letter-spacing: 0.10em;
			line-height: 2em;
			z-index: 2;
		}

			.section-label .heading span {
				display: inline-block;
				padding: 0.30em 0.30em 0.50em 0.30em !important;
				text-align: center;
			}

		.section-label .txt1 {
			background: #3E4442;
			font-size: 3.2em;
			font-weight: 700;
		}

		.section-label .txt2 {
			background: #80B763;
			font-size: 2.2em;
		}

/* Extra */

	#extra {
		position: relative;
		padding: 4em 5em;
		text-align: center;
	}

		#extra .box {
			margin-bottom: 2em;
			padding: 2em 0em 1em 0em;
			border-top: 1px solid #dadcde;
			border-bottom: 1px solid #dadcde;
		}

		#extra .link {
			letter-spacing: 0.10em;
			text-decoration: none;
			font-size: 1.3em;
			font-weight: 700;
		}

			#extra .link:hover {
				text-decoration: underline;
			}

/* Slider */

	#slider {
		position: relative;
		height: 320px;
		background: #80B763;
		color: #FFF;
		overflow: hidden;
	}

		#slider .pennant {
			margin-bottom: 1em;
			background: #FFF;
			font-size: 1.4em;
			color: #80B763;
		}

		#slider .links {
			display: inline-block;
			letter-spacing: 0.10em;
			text-decoration: underline;
			font-size: 1.4em;
			font-weight: 700;
			color: #FFF;
		}

		#slider p {
			line-height: 1.4em;
			letter-spacing: 0.05em;
			font-size: 2em;
		}

		#slider .links:hover {
			text-decoration: none;
		}

		#slider .viewer {
			width: 800px;
			height: 320px;
			overflow: hidden;
			margin: 0em auto;
			text-align: center;
		}

			#slider .viewer .reel {
				display: none;
				height: 300px;
			}

				#slider .viewer .reel .slide {
					width: 800px !important;
					height: 320px;
					padding-top: 4em;
				}

		#slider .previous-button {
			position: absolute;
			top: 140px;
			left: 80px;
			width: 36px;
			height: 36px;
			background: white;
			border-radius: 50%;
			line-height: 36px;
			text-align: center;
			font-size: 1.4em;
			z-index: 2;
		}

		#slider .next-button {
			position: absolute;
			top: 140px;
			right: 80px;
			width: 36px;
			height: 36px;
			text-align: center;
			background: white;
			border-radius: 50%;
			line-height: 36px;
			font-size: 1.4em;
			z-index: 2;
		}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 9.5pt;
			}

		/* Banner */

			#banner header h2 {
				font-size: 4em;
			}

			#banner header .byline {
				font-size: 2.4em;
			}

		/* Slider */

			#slider {
				height: 300px;
			}

				#slider .viewer {
					width: 700px;
					height: 300px;
				}

					#slider .viewer .reel {
						height: 300px;
					}

						#slider .viewer .reel .slide {
							width: 700px !important;
							height: 300px;
						}

				#slider .previous-button, #slider .next-button {
					top: 135px;
				}

				#slider .links {
					font-size: 1.4em;
				}

				#slider p {
					font-size: 1.8em;
				}

		/* Featured */

			#featured h3 {
				padding: 0.80em 0em 0.50em 0em;
				letter-spacing: 0.10em;
				font-size: 1.6em;
			}

			#featured .image {
				margin-right: 0.50em;
			}

				#featured .image img {
					width: 90%;
				}

	}

/* Narrow */

	@media screen and (max-width: 1080px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 9.5pt;
			}

		/* Banner */

			#banner header h2 {
				font-size: 4em;
			}

			#banner header .byline {
				font-size: 2.4em;
			}

		/* Slider */

			#slider {
				height: 300px;
			}

				#slider .viewer {
					width: 700px;
					height: 300px;
				}

					#slider .viewer .reel {
						height: 300px;
					}

						#slider .viewer .reel .slide {
							width: 700px !important;
							height: 300px;
						}

				#slider .previous-button, #slider .next-button {
					top: 135px;
				}

				#slider .links {
					font-size: 1.4em;
				}

				#slider p {
					font-size: 1.8em;
				}

		/* Featured */

			#featured {
				padding: 5em 3em 2em 3em;
			}

				#featured section {
					margin-bottom: 3em;
				}

				#featured h3 {
					padding: 0.80em 0em 0.50em 0em;
					letter-spacing: 0.10em;
					font-size: 1.6em;
				}

				#featured .image {
					margin-right: 0.50em;
				}

					#featured .image img {
						width: 90%;
					}

	}

/* Narrower */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 960px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				font-size: 9.5pt;
				letter-spacing: 0.05em;
			}

			form {
				width: 100%;
			}

		/* Lists */

			ul.icons {
				float: none;
				display: block;
				padding-top: 2em;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: none;
			}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
				}

					#titleBar .toggle:before {
						content: '';
						position: absolute;
						left: 7px;
						top: 7px;
						background: rgba(0, 0, 0, 0.2);
						width: 60px;
						height: 44px;
					}

					#titleBar .toggle:after {
						content: '';
						display: block;
						width: 20px;
						height: 12px;
						position: absolute;
						left: 28px;
						top: 23px;
						background: url("images/toggle.svg") 0px 0px no-repeat;
						opacity: 0.7;
					}

					#titleBar .toggle:active:after {
						opacity: 0.75;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #242b30;
			}

				#navPanel .link {
					display: block;
					color: #888;
					color: rgba(255, 255, 255, 0.6);
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						color: #fff;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Nav */

			#nav {
				display: none;
			}

		/* Footer */

			#footer {
				padding: 2em 2em 1.5em 2em;
				text-align: center;
			}

				#footer .copyright {
					display: block;
					padding-top: 0.60em;
					letter-spacing: 0.05em;
				}

		/* Featured */

			#featured section {
				margin-bottom: 3em;
			}

			#featured h3 {
				margin-top: 0.75em;
			}

			#featured .image {
				float: left;
				margin-right: 3em;
			}

				#featured .image img {
					width: 100%;
				}

		/* Newsletter */

			#subscribe {
				width: 80%;
			}

		/* Slider */

			#slider {
				height: 260px;
			}

				#slider .viewer {
					width: 500px;
					height: 260px;
				}

					#slider .viewer .reel {
						height: 260px;
					}

						#slider .viewer .reel .slide {
							width: 500px !important;
							height: 260px;
						}

				#slider .previous-button {
					top: 125px;
					left: 20px;
				}

				#slider .next-button {
					top: 125px;
					right: 20px;
				}

				#slider .links, #slider p {
					font-size: 1.4em;
				}

		/* Footer */

			#footer {
				margin-bottom: 0;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 9.5pt;
				letter-spacing: 0.05em;
			}

			body {
				padding-top: 0px;
				min-width: 320px;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.5em;
			}

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;
			}

				section > :first-child, section:first-child, article > :first-child, article:first-child {
					margin-top: 0 !important;
				}

		/* Lists */

			ul.icons {
				float: none;
				cursor: default;
				text-align: center;
			}

			.button {
				width: 100%;
				max-width: 300px;
				padding: 0.50em 0em 0.70em 0em;
				text-align: center;
			}

		/* Logo */

			#logo {
				padding: 6em 0em 4em 0em;
				margin-top: 0;
			}

				#logo div {
					padding: 0 4em 0 4em;
					height: 8px;
				}

				#logo h1 {
					position: relative;
					display: inline;
					padding: 0em 0.50em;
					top: -0.35em;
					text-transform: uppercase;
					font-size: 2em;
					font-weight: 700;
				}

				#logo span {
					font-size: 1.1em;
				}

		/* Banner */

			#banner {
				padding: 3em 2em 3em 2em;
				overflow: hidden;
			}

				#banner section {
					margin: 0 !important;
				}

				#banner header {
					margin: 0;
				}

					#banner header h2 {
						font-size: 2em;
					}

					#banner header .byline {
						font-size: 1.4em;
					}

				#banner footer {
					box-shadow: none;
					height: auto;
					width: 100%;
					margin: 1em 0 0 0;
					min-width: 0;
				}

				#banner .button {
					top: 0;
					font-size: 1em;
				}

		/* Content */

			#main {
				padding: 2em 2em 1.5em 2em;
			}

			#content {
				position: relative;
				padding: 2em 2em 1.5em 2em;
			}

		/* Featured */

			#featured {
				padding: 3em 2em 2em 2em;
				text-align: center;
			}

				#featured h3 {
					padding: 0.80em 0em 0.50em 0em;
					letter-spacing: 0.10em;
					font-size: 2em;
				}

				#featured .image {
					float: none;
					display: block;
					margin-right: 0em;
				}

					#featured .image img {
						display: inline-block;
						width: inherit;
						background-color: #c3c6c5;
						border-radius: 50%;
					}

		/* Extra */

			#extra {
				padding: 3em 2em 2em 2em;
			}

		/* Intro */

			#intro {
				position: relative;
				padding: 3em 0em 2em 0em;
				text-align: center;
				color: #FFF;
			}

				#intro:before {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					z-index: 1;
				}

				#intro .txt1 {
					line-height: 1em !important;
					font-size: 2.4em;
				}

				#intro .txt2 {
					font-size: 1.4em;
				}

		/* Newsletter */

			#newsletter {
				padding: 4em 2em 3em 2em;
			}

			#subscribe {
				width: 100%;
			}

				#subscribe .button {
					width: auto;
					padding: 0 1em 0 1em;
				}

		/* Slider */

			#slider {
				height: 260px;
			}

				#slider .viewer {
					width: 280px;
					height: 260px;
				}

					#slider .viewer .reel {
						height: 260px;
					}

						#slider .viewer .reel .slide {
							width: 280px !important;
							height: 260px;
						}

				#slider .previous-button, #slider .next-button {
					display: none;
				}

				#slider .pennant {
					font-size: 1.2em;
				}

				#slider .links {
					font-size: 1.4em;
				}

				#slider p {
					font-size: 1.2em;
				}

	}